.download_btn {
    position: absolute;
    left: 98%;
    margin-top: 6px;
    z-index: 100;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

#md_vk_download_video {
    float: left;
    color: white;
}

.md_vk_download_video_button {
    float: left;
    padding-right: 5px;
    cursor: pointer;
}